

.form{
  margin: auto;
  width: 50%;
  margin-top:12px;

  .input{
    margin-bottom:12px;

    mat-form-field{
      width:35%;
      font-size: large;
    }

    button{
      margin-left:12px;
      color:white;
      background-color: #b876f5;;
    }
  }

  table{
    color: #b876f5;
    font-size: large;
    td, th{
      padding:8px;
    }

    input{
      color:black;
    }


  }
}

.btn{
  background-color: #2fd42f;
  color:white;
}


