<form #f="ngForm" class="form">
  <div class="form-group">

    <div class="input">
      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Informe o CEP</mat-label>
        <input #cep="ngModel" type="text"  id="cep" name="cep" ngModel  matInput required/>
        <mat-error *ngIf="cepInput.invalid">
          {{getErrorMessage()}}
        </mat-error>
        </mat-form-field>
        <button
        (click)="findCEP(cep.value, f)"
        (click)="createCep()"
        class="btn"
        mat-fab>
          <mat-icon>search</mat-icon>
        </button>
    </div>


    <mat-card >
      <mat-card-content>
        <table *ngFor="let data of datas">
          <tr class="tr-header">

            <th>Logradouro</th>
            <th>UF</th>
            <th>Localidade</th>

          </tr>
          <mat-divider></mat-divider>
          <tr>

            <td><input type="text" id="logradouro" name="logradouro"  [(ngModel)]="newItem.logradouro" matInput disabled></td>
            <td><input type="text" id="uf" name="uf"  [(ngModel)]="newItem.uf" matInput disabled></td>
            <td><input type="text" id="localidade" name="localidade"  [(ngModel)]="newItem.localidade" matInput disabled></td>

            <td>
              <button type="submit" class="btn" (click)="addItems()" mat-mini-fab >
                <mat-icon>add</mat-icon>
              </button>
            </td>
          </tr>

          <tr *ngFor="let item of items; let i = index">

            <td>
              {{item.logradouro}}
            </td>
            <td>
              {{item.uf}}
            </td>
            <td>
              {{item.localidade}}
            </td>
            <td>
              <button type="button" value="delete" (click)="removeItem(i)" mat-mini-fab color="warn">
                <mat-icon>
                  delete
                </mat-icon>
              </button>
            </td>
          </tr>

        </table>
      </mat-card-content>
    </mat-card>







